.bg-laravel {
    background-color: #F33A2E !important;
}

.bg-php {
    background-color: #777BB3 !important;
}

.bg-javascript {
    background-color: #F0DB4F !important;
}

.bg-gql {
    background-color: #E10098 !important;
}

.bg-docker {
    background-color: #1D63ED !important;
}

.bg-statamic {
    background-color: #FF269E !important;
}

.bg-jira {
    background-color: #1D81FA !important;
}

.bg-wordpress {
    background-color: #21759B !important;
}

.bg-swift {
    background-color: #F15234 !important;
}

.bg-swift-ui {
    background-color: #0073FD !important;
}

.bg-firebase {
    background-color: #DE3308 !important;
}

.bg-java {
    background-color: #E76F00 !important;
}

.bg-react-native {
    background-color: #00D1F7 !important;
}

.bg-typescript {
    background-color: #1573C0 !important;
}

.bg-expo {
    background-color: #00001F !important;
}

.bg-json {
    background-color: #898989 !important;
}

.bg-summa-pink {
    background-color: #d70096 !important;
}

.bg-summa-blue {
    background-color: #24126e !important;
}